<html>

<body>
<form method="get">
<label for="Name">Name:</label>
<input type="text" placeholder="Enter concert name" name="Name" required><br>
<label for="City">City:</label>
<input type="text" placeholder="Enter concert city" name="City" required><br>
<label for="Time">Time:</label>
<input type="time" name="Time" required><br>
<label for="Date">Date:</label>
<input type="date" name="Date" required><br>
<label for="Max_Registrations">Max registerations allowed:</label>
<input type="number" name="Max_Registrations" required><br>
<label for="Age">Age:</label>
<input type="number" name="Age" required><br>
<label for="About">Write a few words describing the concert:</label>
<br>
<textarea name="About" rows="6" cols="50"></textarea><br>
<label for="Artist_Name">Artist name:</label>
<input type="text" name="Artist_Name" required><br>
<label for="Artist_age">Artist age:</label>
<input type="number" name="Artist_age" required><br>
<label for="Host_Name">Name of the host:</label>
<input type="text" name="Host_Name" required><br>
<label for="Phone_No">Phone number of host:</label>
<input type="text" name="Phone_No" required><br>

<input type="submit" value="Submit">
</form>
</body>
</html>